.main {
    width: 100%;
    height: calc(100vh - 65px - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -7%;
    font-family: Arial, sans-serif;
}

/* a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
} */


ul {
    list-style: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header ul {
    display: flex;
    font-size: 15px;
  }
  header ul li {
    margin-top: 0.9rem;
    margin-right: 1.1rem;
  }
  header ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
  header ul li a .fa-th {
    color: rgba(0, 0, 0, 0.44);
    font-size: 1.4rem;
    padding: 0 0.2rem;
  }
  header .link {
    color: rgba(0, 0, 0, 0.87);
  }
  header .link:hover {
    text-decoration: underline;
  }
  header .letter-icon {
    color: #fff;
    font-size: 17px;
    background: blueviolet;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .header-advanced {
    background: #f2f2f2;
  }
  .header-advanced .header-logo {
    width: 100px;
    padding: 1rem;
  }
  .header-advanced li {
    margin-top: 0.5rem;
  }

.main-body {
    font-family: Arial, sans-serif;
}

.form-search {
    width: 560px;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 16px 40px;
    display: flex;
    font-size: 16px;
    outline: none;
}

.form-search:hover, .form-search:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    outline: none;
}

.searchbuttons {
    display: flex;
    justify-content: center;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    padding: 0.8rem 1.2rem;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    font-size: 15px;
    cursor: pointer;
}

button {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border-color: transparent;
}

.btn-search {
    padding: 0.8rem 1.2rem;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    background: #f2f2f2;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    font-size: 15px;
    cursor: pointer;
}

.btn-search:hover, .btn-search:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    outline: none;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 300px;
    height: auto;
    max-width: 60vh;
    margin-bottom: 2rem;
    margin-top: 120px;
}

/* .linktext {
    text-align: right;
    padding-right: 30px;
    padding-top: 30px;
}

.linktext a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    padding: 5px;
} */