.main {
    width: 100%;
    height: calc(100vh - 65px - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*     margin-top: -7%; */
    font-family: Arial, sans-serif;
}

@media only screen and (max-width: 1200px) {
    .advanced-main__body {
      width: 100%;
    }

/* @media only screen and (max-width: 600px){
.form-search {
    width: 280px !important;
} */

.main-body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main form {
    position: relative;
}

.main .form-search {
    width: 560px;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 16px 40px;
    display: flex;
    font-size: 16px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 300px;
    height: auto;
    max-width: 60vh;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header ul {
    display: flex;
    font-size: 15px;
}

header ul li {
    margin-top: 0.9rem;
    margin-right: 1.1rem;
}

header ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

header ul li a .fa-th {
    color: rgba(0, 0, 0, 0.44);
    font-size: 1.4rem;
    padding: 0 0.2rem;
}

header .link {
    color: rgba(0, 0, 0, 0.87);
}

header .link:hover {
    text-decoration: underline;
}

header .letter-icon {
    color: #fff;
    font-size: 17px;
    background: blueviolet;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.header-advanced {
    background: #f2f2f2;
}

.header-advanced .header-logo {
    width: 100px;
    padding: 1rem;
}

.header-advanced li {
    margin-top: 0.5rem;
}

.form-search {
    width: 560px;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 16px 40px;
    display: flex;
    font-size: 16px;
    outline: none;
}

.form-search:hover, .form-search:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    outline: none;
}

.searchbuttons {
    display: flex;
    justify-content: center;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    padding: 0.8rem 1.2rem;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    font-size: 15px;
    cursor: pointer;
}

button {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border-color: transparent;
}

.btn-search {
    padding: 0.8rem 1.2rem;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    background: #f2f2f2;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    font-size: 15px;
    cursor: pointer;
}

.btn-search:hover, .btn-search:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    outline: none;
    text-decoration: none;
}

/* Icons for input box */

.main .fa-microphone {
    color: #4285f4;
}

.main .fa {
    font-size: 1.2rem;
    position: absolute;
    /* color: rgba(0, 0, 0, 0.72); */
    top: 15px;
}

.main .icon-micro {
    right: 18px;
    position: absolute;
}

.main .icon-search, .main .image-search__icon {
    left: 15px;
}

.main .image-search__icon {
    color: rgba(0, 0, 0, 0.44);
    font-size: 16px;
    top: 17px;
}

.main .image-search__micro {
    right: 60px;
}

.main .image-search__button {
    position: absolute;
    right: 18px;
    top: 15px;
    cursor: pointer;
    background: none;
    border: none;
}

.main .image-search__button:focus {
    outline: none;
}

.main .image-search__button #search {
    position: relative;
    color: #4285f4;
    top: 0;
    font-size: 18px;
}

.main .lang-offer {
    font-size: 13px;
}