.main {
    width: 100%;
    height: calc(100vh - 65px - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*     margin-top: -7%; */
    font-family: Arial, sans-serif;
}

.main-body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main .buttons {
    display: flex;
    justify-content: center;
}

.main form {
    position: relative;
}

.main .form-search {
    width: 560px;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 16px 40px;
    display: flex;
    font-size: 16px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 300px;
    height: auto;
    max-width: 60vh;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header ul {
    display: flex;
    font-size: 15px;
}

header ul li {
    margin-top: 0.9rem;
    margin-right: 1.1rem;
}

header ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

header ul li a .fa-th {
    color: rgba(0, 0, 0, 0.44);
    font-size: 1.4rem;
    padding: 0 0.2rem;
}

header .link {
    color: rgba(0, 0, 0, 0.87);
}

header .link:hover {
    text-decoration: underline;
}

/* header .link:visited {
    color: blue;
} */

header .letter-icon {
    color: #fff;
    font-size: 17px;
    background: blueviolet;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.header-advanced {
    background: #f2f2f2;
}

.header-advanced .header-logo {
    width: 100px;
    padding: 1rem;
}

.header-advanced li {
    margin-top: 0.5rem;
}

.form-search {
    width: 560px;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 16px 40px;
    display: flex;
    font-size: 16px;
    outline: none;
}

.form-search:hover, .form-search:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    outline: none;
}

/* .searchbuttons {
    display: flex;
    justify-content: center;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    padding: 0.8rem 1.2rem;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    font-size: 15px;
    cursor: pointer;
} */

button {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border-color: transparent;
}

.btn-search {
    padding: 0.8rem 1.2rem;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    background: #f2f2f2;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    font-size: 15px;
    cursor: pointer;
}

.btn-search:hover, .btn-search:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    outline: none;
    text-decoration: none;
}

/* Icons for input box */

.main .fa-microphone {
    color: #4285f4;
}

.main .fa {
    font-size: 1.2rem;
    position: absolute;
    /* color: rgba(0, 0, 0, 0.72); */
    top: 15px;
}

.main .icon-micro {
    right: 18px;
    position: absolute;
}

.main .icon-search, .main .image-search__icon {
    left: 15px;
}

.main .image-search__icon {
    color: rgba(0, 0, 0, 0.44);
    font-size: 16px;
    top: 17px;
}

.main .image-search__micro {
    right: 60px;
}

.main .image-search__button {
    position: absolute;
    right: 18px;
    top: 15px;
    cursor: pointer;
    background: none;
    border: none;
}

.main .image-search__button:focus {
    outline: none;
}

.main .image-search__button #search {
    position: relative;
    color: #4285f4;
    top: 0;
    font-size: 18px;
}

.main .lang-offer {
    font-size: 13px;
}

@media only screen and (max-width: 1200px) {
    .advanced-main__body {
        width: 100%;
    }
    .advanced-main__body select {
        width: 64%;
    }
    .advanced-main__body input {
        width: 60%;
    }
    .advanced-main__body #nr-to, .advanced-main__body #nr-from {
        width: 100px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: flex-end;
    }
    header .header-info {
        display: none;
    }
    .form-search {
        width: 280px !important;
    }
    .logo img {
        width: 200px;
    }
    .logo span {
        position: absolute;
        color: #4285f4;
        bottom: 30px;
        right: -10px;
    }
    .btn-search {
        font-size: 14px !important;
        padding: 0.5rem 1rem !important;
    }
    footer div:nth-child(2) {
        flex-direction: column;
        align-items: center;
        flex-flow: column-reverse;
        font-size: 14px;
    }
    footer div:nth-child(2) ul li {
        margin-right: 1rem;
    }
    .advanced-main__body, .advanced-main__heading {
        padding: 1rem;
    }
    .advanced-main__body-form-fields, .advanced-main__heading-form-fields {
        width: 100%;
        padding-right: 0;
    }
    .advanced-main__body-tips, .advanced-main__heading-tips {
        display: none;
    }
}

/* Testing styles */

footer div:nth-child(1) {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
    padding: 0.8rem 2.5rem;
}

footer div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

footer div:nth-child(2) ul {
    display: flex;
}

footer {
    color: rgba(0, 0, 0, 0.72);
    background: #f2f2f2;
}

footer div:nth-child(2) ul li a, footer div:nth-child(2) ul li .dropbtn {
    color: inherit;
}

/* a:visited {
    color: blue;
} */

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer {
    color: rgba(0, 0, 0, 0.72);
    background: #f2f2f2;
}

footer div:nth-child(1) {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
    padding: 0.8rem 2.5rem;
}

footer div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

footer div:nth-child(2) ul {
    display: flex;
}

footer div:nth-child(2) ul li {
    margin-right: 2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.dropdown .dropbtn:focus {
    outline: none;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: -280px;
    left: -140px;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.44);
    padding: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}