.main {
    width: 100%;
    height: calc(100vh - 65px - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -7%;

}

.form-search {
    width: 560px;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 16px 40px;
    display: flex;
    font-size: 16px;
    outline: none;
}

.form-search:hover, .form-search:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    outline: none;
}

.searchbuttons {
    display: flex;
    justify-content: center;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
}

.btn-search {

    
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 300px;
    height: auto;
    max-width: 60vh;
    margin-bottom: 2rem;
}

.linktext {
    text-align: right;
    padding-right: 30px;
    padding-top: 30px;
}

/*

.main .form-search:hover, .main .form-search:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.main .form-search:focus {
    outline: none;
}

.logo img {
    width: 300px;
    height: auto;
    max-width: 60vh;
    margin-bottom: 2rem;
}

*/